#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"
                       "modules/partner/test"
                       "modules/sales/test"
                       "modules/invoice/test"
                       "modules/procurement/test"
                       "modules/collections/test"
                       "modules/asset/test"
                       "modules/inventory/test"
                       "modules/expense/test"
                       "modules/lease/test"
                       "modules/hr/test"
                       "modules/payroll-us-adp/test"
                       "modules/l10n-de/test"
                       "modules/l10n-at/test"
                       "modules/l10n-fr/test"
                       "modules/l10n-ca/test"
                       "modules/l10n-us/test"
                       "modules/l10n-jp/test"
                       "modules/l10n-au/test"
                       "modules/l10n-cn/test"
                       "modules/l10n-br/test"
                       "modules/l10n-in/test"
                       "modules/l10n-mx/test"
                       "modules/l10n-uk/test"
                       "modules/payroll-ca/test"
                       "modules/payroll-jp/test"
                       "modules/payroll-br/test"
                       "modules/payroll-fr/test"
                       "modules/payroll-au/test"
                       "modules/payroll-in/test"
                       "modules/payroll-mx/test"
                       "modules/payroll-at/test"
                       "modules/bank-de/test"
                       "modules/bank-at/test"
                       "modules/bank-fr/test"
                       "modules/bank-ca/test"
                       "modules/bank-us/test"
                       "modules/einvoice-de/test"
                       "modules/payroll-de-datev/test"
                       "modules/payroll-cn/test"
                       "modules/import-gleif/test"
                       "modules/import-edgar/test"
                       "modules/people-record/test"
                       "modules/disposal/test"
                       "modules/incorporation/test"
                       "modules/treaty-de-ca/test"]
          :ns-patterns [".*-test$"]}]
 :color? true
 :randomize? false
 :fail-fast? false}
