#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"
                       "modules/partner/test"
                       "modules/sales/test"
                       "modules/invoice/test"
                       "modules/procurement/test"
                       "modules/collections/test"
                       "modules/asset/test"
                       "modules/inventory/test"
                       "modules/expense/test"
                       "modules/lease/test"
                       "modules/authz/test"
                       "modules/hr/test"
                       "modules/l10n-de/test"
                       "modules/l10n-at/test"
                       "modules/l10n-fr/test"
                       "modules/l10n-ca/test"
                       "modules/l10n-us/test"
                       "modules/l10n-jp/test"
                       "modules/l10n-au/test"
                       "modules/l10n-cn/test"
                       "modules/l10n-br/test"
                       "modules/l10n-in/test"
                       "modules/l10n-mx/test"
                       "modules/bank-de/test"
                       "modules/bank-at/test"
                       "modules/bank-fr/test"
                       "modules/bank-ca/test"
                       "modules/bank-us/test"
                       "modules/einvoice-de/test"
                       "modules/payroll-de-datev/test"]
          :ns-patterns [".*-test$"]}]
 :color? true
 :randomize? false
 :fail-fast? false}
